@import "src/assets/styles/index";

.np-input {
    border-radius: 40px;
    height: 40px;

    &.ant-input-sm {
        height: 30px; 
        min-height: 30px;
    }

    &-textarea {
        border-radius: $container-border-radius;
        height: auto;
        
        &.ant-input-sm {
            font-size: 16px;
            height: auto;
        }
    }
    
    &__filled {
        // border-color: $filled-input-bg-color;
        // background-color: $filled-input-bg-color;

        &.ant-input-affix-wrapper-focused {
            border-color: $primary;
        }
        
        input {
            background-color: inherit; 
        }
    }

    &__bordered {
        border-color: $table-header-border-color;
        background-color: $filled-input-bg-color;

        &.ant-input-affix-wrapper-focused {
            border-color: $primary;
        }
        
        input {
            background-color: inherit; 
        }
    }

    @include input-autocomplete
}