@import "src/assets/styles";

.np-slider {
    .ant-slider-mark-text {
        font-family: $satoshi;
        margin-top: 4px;

        &.ant-slider-mark-text-active {
            font-weight: 700
        }
    }

    &.ant-slider-vertical {
        .ant-slider-mark-text {
            margin-left: 7px;
        }
    }

    .ant-slider-handle::after {
        box-shadow: 0 0 0 2px $primary !important;
    }
}