// Default Colors

$primary: var(--PRIMARY_COLOR);
$primary-20: var(--PRIMARY_COLOR_20);
$maximum-blue: var(--MAXIMUM_BLUE);
$diamond: var(--DIAMOND);

$spanish-gray: var(--SPANISH_GRAY);
$light-silver: var(--LIGHT_SILVER);

$vivid-lime-green: var(--VIVID_LIME_GREEN);
$green-medium: var(--GREEN_MEDIUM);

$white-40: var(--WHITE_40);
$white: var(--WHITE);

$lava: var(--LAVA);
$error-red: var(--ERROR_RED);
$red-medium: var(--RED_MEDIUM);
$red-wine: var(--RED_WINE);

$yellow-medium: var(--YELLOW_MEDIUM);

$orange-medium: var(--ORANGE_MEDIUM);

$green-bright: var(--GREEN_BRIGHT);

$black-3: var(--BLACK_3);
$black-60: var(--BLACK_60);

// Components Colors

$main-bg-color: var(--MAIN_BG_COLOR);
$main-bg-color-2: var(--MAIN_BG_COLOR_2);
$main-bg-color-3: var(--MAIN_BG_COLOR_3);
$red-bg-color: var(--RED_BG_COLOR);

$main-text-color: var(--MAIN_TEXT_COLOR);
$main-icon-color: var(--MAIN_ICON_COLOR);

$main-desc-color: var(--MAIN_DESC_COLOR);

$primary-button-text-color: var(--PRIMARY_BUTTON_TEXT_COLOR);
$primary-button-text-disabled-color: var(--PRIMARY_BUTTON_TEXT_DISABLED_COLOR);

$popover-border-color: var(--POPOVER_BORDER_COLOR);

$footer-link-color: var(--FOOTER_LINK_COLOR);

$nav-link-border-color: var(--HAV_LINK_BORDER_COLOR);

$header-bg-color: var(--HEADER_BG_COLOR);

$radio-border-color: var(--RADIO_BORDER_COLOR);

$filter-border-color: var(--FILTER_BORDER_COLOR);

$dropdown-bg-color: var(--DROPDOWN_BG_COLOR);

$error-border-color: var(--ERROR_BORDER_COLOR);

$divider-color: var(--DIVIDER_COLOR);

$overlay-color: var(--OVERLAY_COLOR);
$select-overlay-color: var(--SELECT_OVERLAY_COLOR);

$filled-input-bg-color: var(--FILLED_INPUT_BG_COLOR);

$table-column-disabled-color: var(--TABLE_COLUMN_DISABLED_COLOR);
$table-header-disabled-color: var(--TABLE_HEADER_DISABLED_COLOR);
$table-header-border-color: var(--TABLE_HEADER_BORDER_COLOR);
$table-row-color: var(--TABLE_ROW_COLOR);
$table-selected-row-color: var(--TABLE_SELECTED_ROW_COLOR);
$table-summary-color: var(--TABLE_SUMMARY_COLOR);
$table-hover-row-color: var(--TABLE_HOVER_ROW);

$tab-bg-color: var(--TAB_BG_COLOR);
$tab-text-color: var(--TAB_TEXT_COLOR);

$scrollbar-track-color: var(--SCROLL_TRACK_COLOR);
$scrollbar-thumn-color: var(--SCROLL_THUMB_COLOR);
$scrollbar-thumn-active-color: var(--SCROLL_THUMB_ACTIVE_COLOR);
$scrollbar-thumn-hover-color: var(--SCROLL_THUMB_HOVER_COLOR);

