@import "./fonts";
@import "./colors";
@import "./mixins";
@import "./constants";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
  }

  body {
    min-height: $full-screen-heigth;
    color: $main-text-color;
    background-color: $main-bg-color;
  }

  @include input-autocomplete;
  @include scrollbar;