@import "src/assets/styles";

.np-overlay-progress {
    &__spin {
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &-wrapper {
            padding: 6px;
            border-radius: $container-border-radius;
        }
    }

    &__text {
        margin-top: 2px;
        padding: 0 10px;
        border-radius: $container-border-radius;
        font-size: 12px;
    }
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }