@import "src/assets/styles/index";

.np-section-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 700px;
    padding: $container-padding-y $container-padding-x;
    background-color: rgb(214 223 211);

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;    
        align-items: center;
        min-height: $full-screen-heigth;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--center {
            justify-content: center;
        }
    }

    &__title {
        font-family: $secondaryFont;
        font-size: 36px;
        font-weight: 800;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        min-height: calc($full-screen-heigth - $container-padding-y - $container-padding-y);

        &--center {
            align-items: center;
        }
    }

    &--center {
        justify-content: center;
    }
}