@import "src/assets/styles";

.np-main-form-section {
    position: relative;
    padding-top: 8px !important;
    padding-bottom: 50% !important;
    background-color: rgba(185, 209, 189);

    @media (min-width: 700px) {
        padding-bottom: 300px !important;
    }

    &__title {
        padding-top: 40%;
        font-size: 40px;
        font-family: $memories;
        color: $primary;

        @media (min-width: 400px) {
            font-size: 50px;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__img {
        position: absolute;
        width: 70%;
        bottom: 0;
        right: 0;
        max-width: 400px;
    }
}